*,::after,::before{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #edddcc;
}

header {
    background-color: #dec5a9;
    display: flex;
    color: white;
    padding: 2rem;
    justify-content: space-between;
}
.logo{
}
.github{
}

#avatar-container {
    margin: 2em auto;
    border: 2px solid #c4aa99;
    width: 250px;
    height: 250px;
    position: relative;
}

#item-container {
    margin: 1rem 10rem;
    border: 2px solid #c4aa99;
}
