*, ::after, ::before {
    margin: 0px;
    padding: 0px;
}
:root {
    --bg: #edddcc;
    --header_bg: #dec5a9;
    --border: #b4927b;
    --prebor: 0.5rem;
}

@media all and (max-width: 2000px) {
    #preloader {
        position: fixed;
        z-index: 20;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .preloader-content {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border-top: #361d0c solid var(--prebor);
        border-left: var(--prebor) solid #94542f;
        border-right: var(--prebor) solid #da8859;
        border-bottom: var(--prebor) solid #ffe9dc;
        border-radius: 50%;
        animation: animation 3s ease infinite;
    }
    
    @keyframes animation{
        0% { border-top: #361d0c solid var(--prebor);
            border-left: var(--prebor) solid #94542f;
            border-bottom: var(--prebor) solid #da8859;
            border-right: var(--prebor) solid #ffe9dc; }
        20% { border-left: #361d0c solid var(--prebor);
            border-bottom: var(--prebor) solid #94542f;
            border-right: var(--prebor) solid #da8859;
            border-top: var(--prebor) solid #ffe9dc; }
        40% { border-bottom: #361d0c solid var(--prebor);
            border-right: var(--prebor) solid #94542f;
            border-top: var(--prebor) solid #da8859;
            border-left: var(--prebor) solid #ffe9dc; }
        60% { border-right: #361d0c solid var(--prebor);
            border-top: var(--prebor) solid #94542f;
            border-left: var(--prebor) solid #da8859;
            border-bottom: var(--prebor) solid #ffe9dc; }
        80% { border-top: #361d0c solid var(--prebor);
            border-left: var(--prebor) solid #94542f;
            border-bottom: var(--prebor) solid #da8859;
            border-right: var(--prebor) solid #ffe9dc; }
        100% { border-left: #361d0c solid var(--prebor);
            border-bottom: var(--prebor) solid #94542f;
            border-right: var(--prebor) solid #da8859;
            border-top: var(--prebor) solid #ffe9dc; }
    }
    
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: var(--bg);
    }
    .logo{
        width: 8rem;
        padding: .5rem 3rem;
    }
    .github{
        padding-top: none;
        margin-right: 3rem;
        display: block;
        font-size: 24px;
        color: #472913;
        background-color: transparent;
        border: none;
    }
    a{
        color: #472913;
        text-decoration: none;
    }
    header a{
        border: #472913 solid;
        border-radius: 20px;
        padding: .3rem;
    }
    button {
        cursor: pointer;
    }
    .buttons button{
        width: 6rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

    }
    header {
        background-color: var(--header_bg);
        display: flex;
        color: white;
        padding: 1rem;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    #avatar-container {
        margin: 1em auto;
        border: 2px solid var(--border);
        width: 250px;
        height: 250px;
        display: flex;
    }
    canvas {
        width: 250px;
        height: 250px;
    }
    #item-container {
        margin: 1rem 10rem;
        border: 2px solid var(--border);
        background-color: #fef5f2;
    }
    #items{
        width: 100%;
        background-color: #fef5f2;
        overflow-y: auto; 
        max-height: 13rem; 
    }
    
    .download {
        padding: .7rem;
        color: var(--border);
        background-color: #fdf6f3;
        border-radius: 20px;
        border: none;
        filter: drop-shadow(3px 3.5px 0px #b5927c);
    }
    .download:active {
        color: white;
        background-color: #b5927c;
        filter: drop-shadow(3px 3.5px 0px #fdf6f3);
    }
    #features {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; 
        overflow-y: hidden;
    }
    .feature_button {
        border: var(--header_bg) solid;
        padding: 0.3rem 1rem;
        background-color: #fef5f2;
    }
    .feature_selected{
        background-color: var(--border);
        color: #fef5f2;
    }

    .item-group {
        display: none;
    }
    .item-group.active {
        display: block;
        text-align: left;  
    }
    .item {
        width: 4rem;
        margin: .5rem;
        background-color: #f3e6de;
        border-radius: 200px;
        cursor: pointer;
    }
    .none{
        height: 4rem;
        background-color: #f3e6de;
        text-align: center;
        display:block;

    }
    .none p{
        transform: translateY(125%);
    }
    .selected {
        border: .1rem solid rgb(44, 44, 44);
    }
    .color-options {
        display: flex;
        justify-content: center;
        margin: .5rem;
    }
    .color {
        height: 30px;
        width: 30px;
        margin: 3px;
        border-radius: 50%;
        border: 1px solid #000;
        cursor: pointer;
    }

    #footer {
        background-color: var(--border); 
        color: #fff; 
        font-size: 12px;
        padding: 20px;
        text-align: center;
        font-family: Arial, sans-serif;
        margin-top: 6rem;
    }

    #footer-content {
        max-width: 800px; 
        margin: 0 auto; 
    }

    #social-media p {
        margin-bottom: 12px;
        font-size: 1.2em; 
    }

    #social-media {
        margin-bottom: 40px;
    }

    .social-icon {
        margin: 0 10px;
        display: inline-block;
        font-size: 1.5em;
    }

    .social-icon img {
        width: 30px;
        height: 30px;
        vertical-align: middle; 
    }

    #copyright {
        font-size: 0.9em; 
    }

}

@media all and (max-width: 900px){
    #item-container {
        margin: 1rem 6rem;
    }
    .preloader-content {
        width: 3rem;
        height: 3rem;
    }

}

@media all and (max-width: 800px){
    .github{
        font-size: 18px;
    }
}

@media all and (max-width: 600px){
    :root{
        --prebor: 0.4rem;
    }
    #item-container {
        margin: 1rem 4rem;
    }
    .github{
        margin-right: 2rem;
    }
    .logo {
        padding: .5rem 2rem;
    } 
    .preloader-content {
        width: 2.5rem;
        height: 2.5rem;
    }

}
@media all and (max-width: 490px){
    .github{
        margin-right: 1.6rem;
    }
    .logo {
        padding: .5rem 1.6rem;
    } 
    #item-container {
        margin: 1rem 2.5rem;
    }
    .item {
        margin: .3rem;
    }
}

@media all and (max-width: 400px){
    .github{
        margin-right: 1rem;
    }
    .logo {
        padding: .5rem 1rem;
    } 
    #item-container {
        margin: 1rem 1.2rem;
    }
}
